In [1]:
from sqlalchemy import create_engine  
from sqlalchemy import Column, String,Integer 
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.orm import sessionmaker
import pandas as pd
import sqlalchemy

In [2]:
db_string = "postgres://mluser:123456789@localhost:5432/mldb"
db = create_engine(db_string)  
base = declarative_base()

In [3]:
conn = db.connect()

In [13]:
class Film(base):  
    __tablename__ = 'films'

    title = Column(String, primary_key=True)
    director = Column(String)
    year = Column(String)

In [4]:
Session = sessionmaker(db)  
session = Session()

base.metadata.create_all(db)

In [15]:
# Create 
doctor_strange = Film(title="Doctor Strange", director="Scott Derrickson", year="2016")  
session.add(doctor_strange)  
session.commit()

In [17]:
# Read
films = session.query(Film)  
for film in films:  
    print(film.title, film.director)

Doctor Strange Scott Derrickson

In [18]:
# Update
doctor_strange.title = "Some2016Film"  
session.commit()

In [19]:
# Delete
session.delete(doctor_strange)  
session.commit()

In [35]:
data = pd.read_csv('data/WA_Fn-UseC_-HR-Employee-Attrition.csv')
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [24]:
for c in data.columns:
    print(c)

Age
Attrition
BusinessTravel
DailyRate
Department
DistanceFromHome
Education
EducationField
EmployeeCount
EmployeeNumber
EnvironmentSatisfaction
Gender
HourlyRate
JobInvolvement
JobLevel
JobRole
JobSatisfaction
MaritalStatus
MonthlyIncome
MonthlyRate
NumCompaniesWorked
Over18
OverTime
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
StandardHours
StockOptionLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
YearsAtCompany
YearsInCurrentRole
YearsSinceLastPromotion
YearsWithCurrManager

In [30]:
class train_data(base):  
    __tablename__ = 'train_data'
    __table_args__ = {'extend_existing': True}
    EmployeeID = Column(Integer, primary_key=True)
    Name = Column(String)
    Age = Column(Integer)
    Attrition = Column(String)
    BusinessTravel = Column(String)
    DailyRate = Column(Integer)
    Department = Column(String)
    DistanceFromHome = Column(Integer)
    Education = Column(Integer)
    EducationField = Column(String)
    EnvironmentSatisfaction = Column(Integer)
    Gender = Column(String)
    HourlyRate = Column(Integer)
    JobInvolvement = Column(Integer)
    JobLevel = Column(Integer)
    JobRole = Column(String)
    JobSatisfaction = Column(Integer)
    MaritalStatus = Column(String)
    MonthlyIncome = Column(Integer)
    MonthlyRate = Column(Integer)
    NumCompaniesWorked = Column(Integer)
    OverTime = Column(Integer)
    PercentSalaryHike = Column(Integer)
    PerformanceRating = Column(Integer)
    RelationshipSatisfaction = Column(Integer)
    StockOptionLevel = Column(Integer)
    TotalWorkingYears = Column(Integer)
    TrainingTimesLastYear = Column(Integer)
    WorkLifeBalance = Column(Integer)
    YearsAtCompany = Column(Integer)
    YearsInCurrentRole = Column(Integer)
    YearsSinceLastPromotion = Column(Integer)
    YearsWithCurrManager = Column(Integer)

In [31]:
class predict_data(base):  
    __tablename__ = 'predict_data'
    __table_args__ = {'extend_existing': True}
    EmployeeID = Column(Integer, primary_key=True)
    Name = Column(String)
    Age = Column(Integer)
    Attrition = Column(String)
    BusinessTravel = Column(String)
    DailyRate = Column(Integer)
    Department = Column(String)
    DistanceFromHome = Column(Integer)
    Education = Column(Integer)
    EducationField = Column(String)
    EnvironmentSatisfaction = Column(Integer)
    Gender = Column(String)
    HourlyRate = Column(Integer)
    JobInvolvement = Column(Integer)
    JobLevel = Column(Integer)
    JobRole = Column(String)
    JobSatisfaction = Column(Integer)
    MaritalStatus = Column(String)
    MonthlyIncome = Column(Integer)
    MonthlyRate = Column(Integer)
    NumCompaniesWorked = Column(Integer)
    OverTime = Column(Integer)
    PercentSalaryHike = Column(Integer)
    PerformanceRating = Column(Integer)
    RelationshipSatisfaction = Column(Integer)
    StockOptionLevel = Column(Integer)
    TotalWorkingYears = Column(Integer)
    TrainingTimesLastYear = Column(Integer)
    WorkLifeBalance = Column(Integer)
    YearsAtCompany = Column(Integer)
    YearsInCurrentRole = Column(Integer)
    YearsSinceLastPromotion = Column(Integer)
    YearsWithCurrManager = Column(Integer)
    Recommendation = Column(String)

In [34]:
# data['company'] = 'NaN'
# data.company.iloc[:400] = 'digikala'
# data.company.iloc[400:700] = 'divar'
# data.company.iloc[700:900] = 'zoomit'
# data.company.iloc[900:1000] = 'pegah'
# data.company.iloc[1000:1200] = 'facebook'
# data.company.iloc[1200:] = 'google'

In [42]:
data['is_sent_to_ml'] = 'FALSE'

In [43]:
data.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,FALSE
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,FALSE
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,FALSE
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,FALSE
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,FALSE

In [44]:
data.to_sql('train2', db, if_exists= 'replace')

In [6]:

data_psql = pd.read_sql("select * from train2 where is_sent_to_ml='FALSE'", db)

In [5]:
data_psql.shape

(1470, 37)

In [6]:
data_psql.head()

,index,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml
0,0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,80,0,8,0,1,6,4,0,5,FALSE
1,1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,80,1,10,3,3,10,7,1,7,FALSE
2,2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,80,0,7,3,3,0,0,0,0,FALSE
3,3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,80,0,8,3,3,8,7,3,0,FALSE
4,4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,80,1,6,3,3,2,2,2,2,FALSE

In [33]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'company'],
      dtype='object')

In [25]:
inc_name_data = pd.read_csv('data/name_attached/train_data_incl_names.csv')
inc_name_data.drop('Unnamed: 0', 1 , inplace = True)
inc_name_data['is_sent_to_ml'] = 'FALSE'
inc_name_data['Attrition'] = 'None'
inc_name_data['recommendation'] = 'None'
inc_name_data['updated_by'] = 'BE'
inc_name_data['updated_time'] = 'None'
inc_name_data.head()

,Name,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,recommendation,updated_by,updated_time
0,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,0,1,6,4,0,5,FALSE,None,BE,None
1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,3,3,10,7,1,7,FALSE,None,BE,None
2,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,3,3,0,0,0,0,FALSE,None,BE,None
3,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,3,8,7,3,0,FALSE,None,BE,None
4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,3,3,2,2,2,2,FALSE,None,BE,None

In [27]:
inc_name_data.to_sql('stars_train_data', conn,if_exists= 'replace')

In [12]:
from datetime import datetime

In [17]:
str(datetime.now())

'2020-11-10 23:27:19.375857'

In [30]:
inc_name_data = pd.read_csv('data/name_attached/prediction_data_incl_names.csv')
inc_name_data.drop('Unnamed: 0', 1 , inplace = True)
inc_name_data['is_sent_to_ml'] = 'FALSE'
inc_name_data['Attrition'] = 'None'
inc_name_data['recommendation'] = 'None'
inc_name_data['updated_by'] = 'BE'
inc_name_data['updated_time'] = 'None'
db_dtype = {
    'updated_time': sqlalchemy.TIMESTAMP
}
inc_name_data.head()

,Name,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,Attrition,recommendation,updated_by,updated_time
0,Mi Richan,42,Travel_Rarely,1147,Human Resources,10,3,Human Resources,1,1408,...,3,20,7,0,9,FALSE,None,None,BE,None
1,Francoise Rautenstrauch,52,Travel_Rarely,258,Research & Development,8,4,Other,1,1409,...,1,5,4,0,4,FALSE,None,None,BE,None
2,Kendra Loud,37,Travel_Rarely,1462,Research & Development,11,3,Medical,1,1411,...,3,3,2,0,2,FALSE,None,None,BE,None
3,Lourdes Bauswell,35,Travel_Frequently,200,Research & Development,18,2,Life Sciences,1,1412,...,3,2,2,2,2,FALSE,None,None,BE,None
4,Hannah Edmison,25,Travel_Rarely,949,Research & Development,1,3,Technical Degree,1,1415,...,2,3,2,0,2,FALSE,None,None,BE,None

In [32]:
inc_name_data.to_sql('stars_prediction_data', conn,if_exists= 'replace')

In [94]:
metadata = sqlalchemy.MetaData()
metadata.reflect(bind = db)
# prediction_table = metadata.tables['prediction_data']

NameError: name 'db' is not defined

In [29]:
t1 = prediction_table.update().where(prediction_table.c.index == 14).values({'Name' :"11sdfncrease salary"})
db.execute(t1)

In [29]:
data = pd.read_sql("prediction_data", db)

In [30]:
data.head()

,index,Name,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,Attrition,recommendation,updated_by,updated_time
0,1,Francoise Rautenstrauch,52,Travel_Rarely,258,Research & Development,8,4,Other,1,...,1,5,4,0,4,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.785073
1,2,Kendra Loud,37,Travel_Rarely,1462,Research & Development,11,3,Medical,1,...,3,3,2,0,2,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.788277
2,4,Hannah Edmison,25,Travel_Rarely,949,Research & Development,1,3,Technical Degree,1,...,2,3,2,0,2,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.797705
3,5,Tom Loeza,26,Travel_Rarely,652,Research & Development,7,3,Other,1,...,3,7,7,0,7,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.803177
4,6,Queenie Kramarczyk,29,Travel_Rarely,332,Human Resources,17,3,Other,1,...,2,10,9,0,9,TRUE,1,"{""RelationshipSatisfaction"":2,""DailyRate"":1021...",machine learning,2020-11-10 23:37:51.806052

In [4]:
import chl_app_config

In [5]:
chl_app_config.db_string

'postgres://pjohhflfynacwy:9a5ddc83ee5a46b0a7b115784e3b62d6f57f6dc5fed97cd2bb2cb7f2316c7b12@ec2-54-75-150-32.eu-west-1.compute.amazonaws.com:5432/d4c9gffpjmtgvc'

In [6]:
 redict_data = pd.read_sql("select * from prediction_data where is_sent_to_ml='FALSE'", db)

In [7]:
redict_data

Empty DataFrame
Columns: [index, Name, Age, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager, is_sent_to_ml, Attrition, recommendation, updated_by, updated_time]
Index: []

[0 rows x 41 columns]

In [86]:
user = 'qiyetmaoqcmast'
pswd = 'e95e1fe4987ce78244876261bed606741ae6229b47ddd050bcbe8093f05a5486'
port = 5432
host = 'ec2-54-75-150-32.eu-west-1.compute.amazonaws.com'
hedb_string = f"postgres://{user}:{pswd}@{host}:{port}/{database}"
he_db = create_engine(hedb_string)

In [87]:
heconn = he_db.connect()

In [105]:
predict_data = pd.read_sql('select * from prediction_data where is_delete=0', heconn)
predict_data.head()

,id,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,...,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,recommendations,is_sent_to_ml
0,f1932e21-2980-499e-b967-87a60db2a01d,superadmin,2020-11-11 14:29:28.916,0,machine learning,2020-11-12 13:19:42.083666,55,Travel_Rarely,1136,Research & Development,...,4,4,7,7,0,0,False,1010,NaN,True
1,fec77e74-710c-4938-9db8-ac7f736ed6c9,superadmin,2020-11-11 14:29:28.916,0,machine learning,2020-11-12 13:19:42.089613,36,Travel_Rarely,1174,Sales,...,3,3,5,4,0,1,False,1011,NaN,True
2,419ae1d2-6b56-43ac-ba85-a7423d840400,superadmin,2020-11-11 14:29:28.916,0,machine learning,2020-11-12 13:19:42.094758,31,Travel_Frequently,667,Sales,...,3,3,1,0,0,0,True,1012,"{""monthly_income"":2629,""hourly_rate"":84,""job_i...",True
3,3157cf1a-8582-4a20-ae60-82779925525f,superadmin,2020-11-11 14:29:28.916,0,machine learning,2020-11-12 13:19:42.100203,30,Travel_Rarely,855,Sales,...,3,3,3,2,0,2,False,1013,NaN,True
4,ecf576b7-7886-4e36-b02d-0790049d1adf,superadmin,2020-11-11 14:29:28.916,0,machine learning,2020-11-12 13:19:42.105579,31,Travel_Rarely,182,Research & Development,...,3,4,3,2,1,0,False,1014,NaN,True

In [104]:
type(predict_data.iloc[0].is_delete)

numpy.int64

In [102]:
predict_data[predict_data.id=='6d4f3b91-0cc7-4ef2-93e6-de7db09bbddf']

,id,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,...,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,recommendations,is_sent_to_ml
470,6d4f3b91-0cc7-4ef2-93e6-de7db09bbddf,superadmin,2020-11-11 14:29:28.914,0,machine learning,2020-11-12 16:24:07.468941,42,Travel_Rarely,1147,Human Resources,...,5,3,20,7,0,9,True,999,rec,True

In [93]:
predict_data[predict_data.attrition == True]

Empty DataFrame
Columns: [id, created_by, created_time, is_delete, updated_by, updated_time, age, business_travel, daily_rate, department, distance_from_home, education, education_field, employee_count, employee_number, environment_satisfaction, gender, hourly_rate, job_involvement, job_level, job_role, job_satisfaction, marital_status, monthly_income, monthly_rate, name, num_companies_worked, over18, over_time, percent_salary_hike, performance_rating, relationship_satisfaction, standard_hours, stock_option_level, total_working_years, training_times_last_year, work_life_balance, years_at_company, years_in_current_role, years_since_last_promotion, years_with_curr_manager, attrition, employee_id, recommendations, is_sent_to_ml]
Index: []

[0 rows x 45 columns]

In [95]:
metadata = sqlalchemy.MetaData()
metadata.reflect(bind = he_db)
prediction_table = metadata.tables['prediction_data']

In [100]:
q = prediction_table.update().where(prediction_table.c.id == '6d4f3b91-0cc7-4ef2-93e6-de7db09bbddf').values({
            'attrition' : True,
            'recommendations': 'rec',
            'is_sent_to_ml': True,
            'updated_by': 'machine learning',
            'updated_time' : pd.to_datetime(datetime.now())
            })
heconn.execute(q)

In [28]:
predict_data.columns

Index(['id', 'created_by', 'created_time', 'is_delete', 'updated_by',
       'updated_time', 'age', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_count',
       'employee_number', 'environment_satisfaction', 'gender', 'hourly_rate',
       'job_involvement', 'job_level', 'job_role', 'job_satisfaction',
       'marital_status', 'monthly_income', 'monthly_rate', 'name',
       'num_companies_worked', 'over18', 'over_time', 'percent_salary_hike',
       'performance_rating', 'relationship_satisfaction', 'standard_hours',
       'stock_option_level', 'total_working_years', 'training_times_last_year',
       'work_life_balance', 'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager', 'attrition',
       'employee_id', 'recommendations', 'is_sent_to_ml'],
      dtype='object')

In [13]:
train_data = pd.read_sql('train_data', heconn)
train_data.head()

,id,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,...,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,is_sent_to_ml
0,e2bd81cd-73a2-4a92-8261-448a28e818ad,superadmin,2020-11-11 14:29:14.256,0,None,2020-11-11 14:29:14.256,41,Travel_Rarely,1102,Sales,...,8,0,1,6,4,0,5,True,0,False
1,c974d91b-807d-4514-bd34-e0637fccbfe0,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,49,Travel_Frequently,279,Research & Development,...,10,3,3,10,7,1,7,False,1,False
2,cf9d5144-6eae-4186-9d6b-754eca598931,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,37,Travel_Rarely,1373,Research & Development,...,7,3,3,0,0,0,0,True,2,False
3,86504a6e-25a8-4194-b41a-f4c4d3d1d1a4,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,33,Travel_Frequently,1392,Research & Development,...,8,3,3,8,7,3,0,False,3,False
4,1d7734a7-e34e-49ad-add2-cdadac2601dc,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,27,Travel_Rarely,591,Research & Development,...,6,3,3,2,2,2,2,False,4,False

In [64]:
train_data[train_data.id.isin(train_data.iloc[:4].id.values)]

,id,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,...,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,is_sent_to_ml
0,e2bd81cd-73a2-4a92-8261-448a28e818ad,superadmin,2020-11-11 14:29:14.256,0,None,2020-11-11 14:29:14.256,41,Travel_Rarely,1102,Sales,...,8,0,1,6,4,0,5,True,0,False
1,c974d91b-807d-4514-bd34-e0637fccbfe0,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,49,Travel_Frequently,279,Research & Development,...,10,3,3,10,7,1,7,False,1,False
2,cf9d5144-6eae-4186-9d6b-754eca598931,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,37,Travel_Rarely,1373,Research & Development,...,7,3,3,0,0,0,0,True,2,False
3,86504a6e-25a8-4194-b41a-f4c4d3d1d1a4,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,33,Travel_Frequently,1392,Research & Development,...,8,3,3,8,7,3,0,False,3,False

In [65]:
train_i = train_data.set_index('id')

In [66]:
train_i.head()

,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,distance_from_home,...,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,is_sent_to_ml
id,,,,,,,,,,,,,,,,,,,,,
e2bd81cd-73a2-4a92-8261-448a28e818ad,superadmin,2020-11-11 14:29:14.256,0,None,2020-11-11 14:29:14.256,41,Travel_Rarely,1102,Sales,1,...,8,0,1,6,4,0,5,True,0,False
c974d91b-807d-4514-bd34-e0637fccbfe0,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,49,Travel_Frequently,279,Research & Development,8,...,10,3,3,10,7,1,7,False,1,False
cf9d5144-6eae-4186-9d6b-754eca598931,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,37,Travel_Rarely,1373,Research & Development,2,...,7,3,3,0,0,0,0,True,2,False
86504a6e-25a8-4194-b41a-f4c4d3d1d1a4,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,33,Travel_Frequently,1392,Research & Development,3,...,8,3,3,8,7,3,0,False,3,False
1d7734a7-e34e-49ad-add2-cdadac2601dc,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,27,Travel_Rarely,591,Research & Development,2,...,6,3,3,2,2,2,2,False,4,False

In [83]:
train_i.iloc[0:5]

,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,distance_from_home,...,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,is_sent_to_ml
id,,,,,,,,,,,,,,,,,,,,,
e2bd81cd-73a2-4a92-8261-448a28e818ad,superadmin,2020-11-11 14:29:14.256,0,None,2020-11-11 14:29:14.256,41,Travel_Rarely,1102,Sales,1,...,8,0,1,6,4,0,5,True,0,False
c974d91b-807d-4514-bd34-e0637fccbfe0,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,49,Travel_Frequently,279,Research & Development,8,...,10,3,3,10,7,1,7,False,1,False
cf9d5144-6eae-4186-9d6b-754eca598931,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,37,Travel_Rarely,1373,Research & Development,2,...,7,3,3,0,0,0,0,True,2,False
86504a6e-25a8-4194-b41a-f4c4d3d1d1a4,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,33,Travel_Frequently,1392,Research & Development,3,...,8,3,3,8,7,3,0,False,3,False
1d7734a7-e34e-49ad-add2-cdadac2601dc,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,27,Travel_Rarely,591,Research & Development,2,...,6,3,3,2,2,2,2,False,4,False

In [82]:
train_i[train_i.index.isin(train_i.iloc[0:5].index)]

,created_by,created_time,is_delete,updated_by,updated_time,age,business_travel,daily_rate,department,distance_from_home,...,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,attrition,employee_id,is_sent_to_ml
id,,,,,,,,,,,,,,,,,,,,,
e2bd81cd-73a2-4a92-8261-448a28e818ad,superadmin,2020-11-11 14:29:14.256,0,None,2020-11-11 14:29:14.256,41,Travel_Rarely,1102,Sales,1,...,8,0,1,6,4,0,5,True,0,False
c974d91b-807d-4514-bd34-e0637fccbfe0,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,49,Travel_Frequently,279,Research & Development,8,...,10,3,3,10,7,1,7,False,1,False
cf9d5144-6eae-4186-9d6b-754eca598931,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,37,Travel_Rarely,1373,Research & Development,2,...,7,3,3,0,0,0,0,True,2,False
86504a6e-25a8-4194-b41a-f4c4d3d1d1a4,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,33,Travel_Frequently,1392,Research & Development,3,...,8,3,3,8,7,3,0,False,3,False
1d7734a7-e34e-49ad-add2-cdadac2601dc,superadmin,2020-11-11 14:29:14.266,0,None,2020-11-11 14:29:14.266,27,Travel_Rarely,591,Research & Development,2,...,6,3,3,2,2,2,2,False,4,False

In [71]:
train_i.iloc[0]['id']

KeyError: 'id'

In [68]:
train_i[train_i['id'].isin(train_i.iloc[:5]['id'])]

KeyError: 'id'

In [ ]:
tra

In [19]:
train_data.iloc[0]['updated_time']

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
from datetime import datetime

In [21]:
pd.to_datetime(datetime.now())

Timestamp('2020-11-12 14:10:15.673011')

In [23]:
type(train_data.iloc[0]['is_sent_to_ml'])

numpy.bool_

In [24]:
True

True

In [26]:
bool(1)

True

In [27]:
train_data.columns

Index(['id', 'created_by', 'created_time', 'is_delete', 'updated_by',
       'updated_time', 'age', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_count',
       'employee_number', 'environment_satisfaction', 'gender', 'hourly_rate',
       'job_involvement', 'job_level', 'job_role', 'job_satisfaction',
       'marital_status', 'monthly_income', 'monthly_rate', 'name',
       'num_companies_worked', 'over18', 'over_time', 'percent_salary_hike',
       'performance_rating', 'relationship_satisfaction', 'standard_hours',
       'stock_option_level', 'total_working_years', 'training_times_last_year',
       'work_life_balance', 'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager', 'attrition',
       'employee_id', 'is_sent_to_ml'],
      dtype='object')

In [41]:
data = pd.read_csv('data/name_attached/train_data_incl_names.csv')
data.drop('Unnamed: 0', 1 , inplace = True)
data['is_sent_to_ml'] = 'FALSE'
data['Attrition'] = 'None'
data['recommendation'] = 'None'
data['updated_by'] = 'BE'
data['updated_time'] = 'None'
data.set_index('EmployeeNumber',inplace = True)
data.head()

,Name,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,recommendation,updated_by,updated_time
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,0,1,6,4,0,5,FALSE,None,BE,None
2,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,3,3,10,7,1,7,FALSE,None,BE,None
4,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,3,3,0,0,0,0,FALSE,None,BE,None
5,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,3,8,7,3,0,FALSE,None,BE,None
7,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,3,3,2,2,2,2,FALSE,None,BE,None

In [44]:
sample = data.iloc[:5]
sample_json = sample.to_json()
sample_json

'{"Name":{"1":"James Butt","2":"Josephine Darakjy","4":"Art Venere","5":"Lenna Paprocki","7":"Donette Foller"},"Age":{"1":41,"2":49,"4":37,"5":33,"7":27},"Attrition":{"1":"None","2":"None","4":"None","5":"None","7":"None"},"BusinessTravel":{"1":"Travel_Rarely","2":"Travel_Frequently","4":"Travel_Rarely","5":"Travel_Frequently","7":"Travel_Rarely"},"DailyRate":{"1":1102,"2":279,"4":1373,"5":1392,"7":591},"Department":{"1":"Sales","2":"Research & Development","4":"Research & Development","5":"Research & Development","7":"Research & Development"},"DistanceFromHome":{"1":1,"2":8,"4":2,"5":3,"7":2},"Education":{"1":2,"2":1,"4":2,"5":4,"7":1},"EducationField":{"1":"Life Sciences","2":"Life Sciences","4":"Other","5":"Life Sciences","7":"Medical"},"EmployeeCount":{"1":1,"2":1,"4":1,"5":1,"7":1},"EnvironmentSatisfaction":{"1":2,"2":3,"4":4,"5":4,"7":1},"Gender":{"1":"Female","2":"Male","4":"Male","5":"Female","7":"Male"},"HourlyRate":{"1":94,"2":61,"4":92,"5":56,"7":40},"JobInvolvement":{"1":3,"2":2,"4":2,"5":3,"7":3},"JobLevel":{"1":2,"2":2,"4":1,"5":1,"7":1},"JobRole":{"1":"Sales Executive","2":"Research Scientist","4":"Laboratory Technician","5":"Research Scientist","7":"Laboratory Technician"},"JobSatisfaction":{"1":4,"2":2,"4":3,"5":3,"7":2},"MaritalStatus":{"1":"Single","2":"Married","4":"Single","5":"Married","7":"Married"},"MonthlyIncome":{"1":5993,"2":5130,"4":2090,"5":2909,"7":3468},"MonthlyRate":{"1":19479,"2":24907,"4":2396,"5":23159,"7":16632},"NumCompaniesWorked":{"1":8,"2":1,"4":6,"5":1,"7":9},"Over18":{"1":"Y","2":"Y","4":"Y","5":"Y","7":"Y"},"OverTime":{"1":"Yes","2":"No","4":"Yes","5":"Yes","7":"No"},"PercentSalaryHike":{"1":11,"2":23,"4":15,"5":11,"7":12},"PerformanceRating":{"1":3,"2":4,"4":3,"5":3,"7":3},"RelationshipSatisfaction":{"1":1,"2":4,"4":2,"5":3,"7":4},"StandardHours":{"1":80,"2":80,"4":80,"5":80,"7":80},"StockOptionLevel":{"1":0,"2":1,"4":0,"5":0,"7":1},"TotalWorkingYears":{"1":8,"2":10,"4":7,"5":8,"7":6},"TrainingTimesLastYear":{"1":0,"2":3,"4":3,"5":3,"7":3},"WorkLifeBalance":{"1":1,"2":3,"4":3,"5":3,"7":3},"YearsAtCompany":{"1":6,"2":10,"4":0,"5":8,"7":2},"YearsInCurrentRole":{"1":4,"2":7,"4":0,"5":7,"7":2},"YearsSinceLastPromotion":{"1":0,"2":1,"4":0,"5":3,"7":2},"YearsWithCurrManager":{"1":5,"2":7,"4":0,"5":0,"7":2},"is_sent_to_ml":{"1":"FALSE","2":"FALSE","4":"FALSE","5":"FALSE","7":"FALSE"},"recommendation":{"1":"None","2":"None","4":"None","5":"None","7":"None"},"updated_by":{"1":"BE","2":"BE","4":"BE","5":"BE","7":"BE"},"updated_time":{"1":"None","2":"None","4":"None","5":"None","7":"None"}}'

In [9]:
x = pd.DataFrame(dj)

In [10]:
x

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,recommendation,updated_by,updated_time
0,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,0,1,6,4,0,5,FALSE,None,BE,None
1,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,3,3,10,7,1,7,FALSE,None,BE,None
2,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,3,0,0,0,0,FALSE,None,BE,None
3,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,8,7,3,0,FALSE,None,BE,None
4,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,3,2,2,2,2,FALSE,None,BE,None

In [11]:
pd.read_csv('upload_dir/json_sample.csv')

,Unnamed: 0,Name,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,recommendation,updated_by,updated_time
0,0,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,...,0,1,6,4,0,5,False,None,BE,None
1,1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,3,3,10,7,1,7,False,None,BE,None
2,2,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,...,3,3,0,0,0,0,False,None,BE,None
3,3,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,...,3,3,8,7,3,0,False,None,BE,None
4,4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,...,3,3,2,2,2,2,False,None,BE,None

In [13]:
list(set(['a','b'])& set(['a','c']))

['a']

In [11]:
pd.read_sql('stars_train_data', conn)

,index,Name,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,recommendation,updated_by,updated_time
0,1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,3,3,10,7,1,7,FALSE,None,BE,None
1,4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,...,3,3,2,2,2,2,FALSE,None,BE,None
2,1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,3,3,10,7,1,7,FALSE,None,BE,None
3,4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,...,3,3,2,2,2,2,FALSE,None,BE,None
4,0,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,...,0,1,6,4,0,5,FALSE,None,BE,None
5,1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,3,3,10,7,1,7,FALSE,None,BE,None
6,2,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,...,3,3,0,0,0,0,FALSE,None,BE,None
7,3,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,...,3,3,8,7,3,0,FALSE,None,BE,None
8,4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,...,3,3,2,2,2,2,FALSE,None,BE,None
9,0,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,...,0,1,6,4,0,5,FALSE,None,BE,None
10,1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,3,3,10,7,1,7,FALSE,None,BE,None
11,2,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,...,3,3,0,0,0,0,FALSE,None,BE,None
12,3,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,...,3,3,8,7,3,0,FALSE,None,BE,None
13,4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,...,3,3,2,2,2,2,FALSE,None,BE,None
14,0,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,...,0,1,6,4,0,5,FALSE,None,BE,None
15,1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,3,3,10,7,1,7,FALSE,None,BE,None
16,2,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,...,3,3,0,0,0,0,FALSE,None,BE,None
17,3,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,...,3,3,8,7,3,0,FALSE,None,BE,None
18,4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,...,3,3,2,2,2,2,FALSE,None,BE,None

In [42]:
metadata = sqlalchemy.MetaData()
metadata.reflect(bind = conn)
db_train_data = metadata.tables['stars_train_data']

In [35]:
q = db_train_data.delete().where(db_train_data.c.Name.in_(['Art Venere', 'Lenna Paprocki']))
conn.execute(q)

In [43]:
q = db_train_data.select().limit(2)
conn.execute(q)

In [7]:
type([4]) == list

True

In [8]:
r = {
    "data" : [2]
}

In [10]:
r['data']

[2]

In [24]:
list(set([1,3]) - set(None))

TypeError: 'NoneType' object is not iterable

In [28]:
a = None

In [29]:
if a:
    print('yess')