In [4]:
from sqlalchemy import create_engine  
from sqlalchemy import Column, String,Integer 
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.orm import sessionmaker
import pandas as pd
import sqlalchemy

In [2]:
db_string = "postgres://mluser:123456789@localhost:5432/mldb"
db = create_engine(db_string)  
base = declarative_base()

In [4]:
conn = db.connect()

In [13]:
class Film(base):  
    __tablename__ = 'films'

    title = Column(String, primary_key=True)
    director = Column(String)
    year = Column(String)

In [4]:
Session = sessionmaker(db)  
session = Session()

base.metadata.create_all(db)

In [15]:
# Create 
doctor_strange = Film(title="Doctor Strange", director="Scott Derrickson", year="2016")  
session.add(doctor_strange)  
session.commit()

In [17]:
# Read
films = session.query(Film)  
for film in films:  
    print(film.title, film.director)

Doctor Strange Scott Derrickson

In [18]:
# Update
doctor_strange.title = "Some2016Film"  
session.commit()

In [19]:
# Delete
session.delete(doctor_strange)  
session.commit()

In [35]:
data = pd.read_csv('data/WA_Fn-UseC_-HR-Employee-Attrition.csv')
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [24]:
for c in data.columns:
    print(c)

Age
Attrition
BusinessTravel
DailyRate
Department
DistanceFromHome
Education
EducationField
EmployeeCount
EmployeeNumber
EnvironmentSatisfaction
Gender
HourlyRate
JobInvolvement
JobLevel
JobRole
JobSatisfaction
MaritalStatus
MonthlyIncome
MonthlyRate
NumCompaniesWorked
Over18
OverTime
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
StandardHours
StockOptionLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
YearsAtCompany
YearsInCurrentRole
YearsSinceLastPromotion
YearsWithCurrManager

In [30]:
class train_data(base):  
    __tablename__ = 'train_data'
    __table_args__ = {'extend_existing': True}
    EmployeeID = Column(Integer, primary_key=True)
    Name = Column(String)
    Age = Column(Integer)
    Attrition = Column(String)
    BusinessTravel = Column(String)
    DailyRate = Column(Integer)
    Department = Column(String)
    DistanceFromHome = Column(Integer)
    Education = Column(Integer)
    EducationField = Column(String)
    EnvironmentSatisfaction = Column(Integer)
    Gender = Column(String)
    HourlyRate = Column(Integer)
    JobInvolvement = Column(Integer)
    JobLevel = Column(Integer)
    JobRole = Column(String)
    JobSatisfaction = Column(Integer)
    MaritalStatus = Column(String)
    MonthlyIncome = Column(Integer)
    MonthlyRate = Column(Integer)
    NumCompaniesWorked = Column(Integer)
    OverTime = Column(Integer)
    PercentSalaryHike = Column(Integer)
    PerformanceRating = Column(Integer)
    RelationshipSatisfaction = Column(Integer)
    StockOptionLevel = Column(Integer)
    TotalWorkingYears = Column(Integer)
    TrainingTimesLastYear = Column(Integer)
    WorkLifeBalance = Column(Integer)
    YearsAtCompany = Column(Integer)
    YearsInCurrentRole = Column(Integer)
    YearsSinceLastPromotion = Column(Integer)
    YearsWithCurrManager = Column(Integer)

In [31]:
class predict_data(base):  
    __tablename__ = 'predict_data'
    __table_args__ = {'extend_existing': True}
    EmployeeID = Column(Integer, primary_key=True)
    Name = Column(String)
    Age = Column(Integer)
    Attrition = Column(String)
    BusinessTravel = Column(String)
    DailyRate = Column(Integer)
    Department = Column(String)
    DistanceFromHome = Column(Integer)
    Education = Column(Integer)
    EducationField = Column(String)
    EnvironmentSatisfaction = Column(Integer)
    Gender = Column(String)
    HourlyRate = Column(Integer)
    JobInvolvement = Column(Integer)
    JobLevel = Column(Integer)
    JobRole = Column(String)
    JobSatisfaction = Column(Integer)
    MaritalStatus = Column(String)
    MonthlyIncome = Column(Integer)
    MonthlyRate = Column(Integer)
    NumCompaniesWorked = Column(Integer)
    OverTime = Column(Integer)
    PercentSalaryHike = Column(Integer)
    PerformanceRating = Column(Integer)
    RelationshipSatisfaction = Column(Integer)
    StockOptionLevel = Column(Integer)
    TotalWorkingYears = Column(Integer)
    TrainingTimesLastYear = Column(Integer)
    WorkLifeBalance = Column(Integer)
    YearsAtCompany = Column(Integer)
    YearsInCurrentRole = Column(Integer)
    YearsSinceLastPromotion = Column(Integer)
    YearsWithCurrManager = Column(Integer)
    Recommendation = Column(String)

In [34]:
# data['company'] = 'NaN'
# data.company.iloc[:400] = 'digikala'
# data.company.iloc[400:700] = 'divar'
# data.company.iloc[700:900] = 'zoomit'
# data.company.iloc[900:1000] = 'pegah'
# data.company.iloc[1000:1200] = 'facebook'
# data.company.iloc[1200:] = 'google'

In [42]:
data['is_sent_to_ml'] = 'FALSE'

In [43]:
data.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,FALSE
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,FALSE
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,FALSE
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,FALSE
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,FALSE

In [44]:
data.to_sql('train2', db, if_exists= 'replace')

In [6]:

data_psql = pd.read_sql("select * from train2 where is_sent_to_ml='FALSE'", db)

In [5]:
data_psql.shape

(1470, 37)

In [6]:
data_psql.head()

,index,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml
0,0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,80,0,8,0,1,6,4,0,5,FALSE
1,1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,80,1,10,3,3,10,7,1,7,FALSE
2,2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,80,0,7,3,3,0,0,0,0,FALSE
3,3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,80,0,8,3,3,8,7,3,0,FALSE
4,4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,80,1,6,3,3,2,2,2,2,FALSE

In [33]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'company'],
      dtype='object')

In [11]:
inc_name_data = pd.read_csv('data/name_attached/train_data_incl_names.csv')
inc_name_data.drop('Unnamed: 0', 1 , inplace = True)
inc_name_data['is_sent_to_ml'] = 'FALSE'
inc_name_data['Attrition'] = 'None'
inc_name_data['recommendation'] = 'None'
inc_name_data['updated_by'] = 'BE'
inc_name_data['updated_time'] = 'None'
inc_name_data.head()

,Name,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,recommendation,updated_by,updated_time
0,James Butt,41,None,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,0,1,6,4,0,5,FALSE,None,BE,None
1,Josephine Darakjy,49,None,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,3,3,10,7,1,7,FALSE,None,BE,None
2,Art Venere,37,None,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,3,3,0,0,0,0,FALSE,None,BE,None
3,Lenna Paprocki,33,None,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,3,8,7,3,0,FALSE,None,BE,None
4,Donette Foller,27,None,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,3,3,2,2,2,2,FALSE,None,BE,None

In [12]:
inc_name_data.to_sql('training_data', he_db,if_exists= 'replace')

In [12]:
from datetime import datetime

In [17]:
str(datetime.now())

'2020-11-10 23:27:19.375857'

In [9]:
inc_name_data = pd.read_csv('data/name_attached/prediction_data_incl_names.csv')
inc_name_data.drop('Unnamed: 0', 1 , inplace = True)
inc_name_data['is_sent_to_ml'] = 'FALSE'
inc_name_data['Attrition'] = 'None'
inc_name_data['recommendation'] = 'None'
inc_name_data['updated_by'] = 'BE'
inc_name_data['updated_time'] = 'None'
db_dtype = {
    'updated_time': sqlalchemy.TIMESTAMP
}
inc_name_data.head()

,Name,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,Attrition,recommendation,updated_by,updated_time
0,Mi Richan,42,Travel_Rarely,1147,Human Resources,10,3,Human Resources,1,1408,...,3,20,7,0,9,FALSE,None,None,BE,None
1,Francoise Rautenstrauch,52,Travel_Rarely,258,Research & Development,8,4,Other,1,1409,...,1,5,4,0,4,FALSE,None,None,BE,None
2,Kendra Loud,37,Travel_Rarely,1462,Research & Development,11,3,Medical,1,1411,...,3,3,2,0,2,FALSE,None,None,BE,None
3,Lourdes Bauswell,35,Travel_Frequently,200,Research & Development,18,2,Life Sciences,1,1412,...,3,2,2,2,2,FALSE,None,None,BE,None
4,Hannah Edmison,25,Travel_Rarely,949,Research & Development,1,3,Technical Degree,1,1415,...,2,3,2,0,2,FALSE,None,None,BE,None

In [13]:
inc_name_data.to_sql('prediction_data', db,if_exists= 'replace')

In [28]:
metadata = sqlalchemy.MetaData()
metadata.reflect(bind = db)
prediction_table = metadata.tables['prediction_data']

In [29]:
t1 = prediction_table.update().where(prediction_table.c.index == 14).values({'Name' :"11sdfncrease salary"})
db.execute(t1)

In [29]:
data = pd.read_sql("prediction_data", db)

In [30]:
data.head()

,index,Name,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,is_sent_to_ml,Attrition,recommendation,updated_by,updated_time
0,1,Francoise Rautenstrauch,52,Travel_Rarely,258,Research & Development,8,4,Other,1,...,1,5,4,0,4,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.785073
1,2,Kendra Loud,37,Travel_Rarely,1462,Research & Development,11,3,Medical,1,...,3,3,2,0,2,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.788277
2,4,Hannah Edmison,25,Travel_Rarely,949,Research & Development,1,3,Technical Degree,1,...,2,3,2,0,2,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.797705
3,5,Tom Loeza,26,Travel_Rarely,652,Research & Development,7,3,Other,1,...,3,7,7,0,7,TRUE,0,NaN,machine learning,2020-11-10 23:37:51.803177
4,6,Queenie Kramarczyk,29,Travel_Rarely,332,Human Resources,17,3,Other,1,...,2,10,9,0,9,TRUE,1,"{""RelationshipSatisfaction"":2,""DailyRate"":1021...",machine learning,2020-11-10 23:37:51.806052

In [5]:
import chl_app_config

In [7]:
chl_app_config.train_table_name

'training_data'

In [6]:
 redict_data = pd.read_sql("select * from prediction_data where is_sent_to_ml='FALSE'", db)

In [7]:
redict_data

Empty DataFrame
Columns: [index, Name, Age, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager, is_sent_to_ml, Attrition, recommendation, updated_by, updated_time]
Index: []

[0 rows x 41 columns]

In [8]:
from ModifiedLabelEncoder import ModifiedLabelEncoder

In [9]:
le = ModifiedLabelEncoder()

In [10]:
le.fit_transform(redict_data)

Empty DataFrame
Columns: [index, Name, Age, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager, is_sent_to_ml, Attrition, recommendation, updated_by, updated_time]
Index: []

[0 rows x 41 columns]

In [11]:
le.transform(redict_data)

Empty DataFrame
Columns: [index, Name, Age, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager, is_sent_to_ml, Attrition, recommendation, updated_by, updated_time]
Index: []

[0 rows x 41 columns]

In [7]:
user = 'qqisfoyyxyxmdq'
pswd = '41fe5ad87828d95140f2ec51fb4acf0eba6f3cc0cb6b3f164b69f43ad44517b3'
port = 5432
database = 'dbu1hmokg3ova2'
host = 'ec2-54-156-85-145.compute-1.amazonaws.com'
hedb_string = f"postgres://{user}:{pswd}@{host}:{port}/{database}"
he_db = create_engine(hedb_string)

In [8]:
heconn = he_db.connect()

In [10]:
inc_name_data.to_sql('prediction_data', he_db,if_exists= 'replace')

In [1]:
import chl_app_config