In [1]:
from ml_core import ML_core
from recommend_analyzer import Analyze
from Recommendation import Recommend
from ModifiedLabelEncoder import ModifiedLabelEncoder
import pandas as pd

In [2]:
train_data = pd.read_csv('data/name_attached/train_data_incl_names.csv')
predict_data = pd.read_csv('data/name_attached/prediction_data_incl_names.csv')

In [3]:
none_informative = ['Name', 'Unnamed: 0']

In [4]:
train_data = train_data.drop(none_informative, 1)
predict_data = predict_data.drop(none_informative, 1)
train_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
ml_core = ML_core(train_data, predict_data)
ml_core.train()
result = ml_core.predict()

In [6]:
result

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,42,Travel_Rarely,1147,Human Resources,10,3,Human Resources,1,1408,3,...,80,1,21,5,3,20,7,0,9,0
1,52,Travel_Rarely,258,Research & Development,8,4,Other,1,1409,3,...,80,0,12,2,1,5,4,0,4,0
2,37,Travel_Rarely,1462,Research & Development,11,3,Medical,1,1411,1,...,80,0,8,6,3,3,2,0,2,0
3,35,Travel_Frequently,200,Research & Development,18,2,Life Sciences,1,1412,3,...,80,0,10,2,3,2,2,2,2,0
4,25,Travel_Rarely,949,Research & Development,1,3,Technical Degree,1,1415,1,...,80,1,7,2,2,3,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,80,1,17,3,3,5,2,0,3,0
467,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,80,1,9,5,3,7,7,1,7,0
468,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,80,1,6,0,3,6,2,0,3,0
469,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,80,0,17,3,2,9,6,0,8,0
470,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,80,0,6,3,4,4,3,1,2,0

In [7]:
result[result.Attrition==1].head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
6,29,Travel_Rarely,332,Human Resources,17,3,Other,1,1419,2,...,80,0,10,3,2,10,9,0,9,1
13,31,Travel_Frequently,667,Sales,1,4,Life Sciences,1,1427,2,...,80,0,1,3,3,1,0,0,0,1
33,39,Non-Travel,592,Research & Development,2,3,Life Sciences,1,1458,1,...,80,0,11,2,4,1,0,0,0,1
37,31,Travel_Frequently,523,Research & Development,2,3,Life Sciences,1,1464,2,...,80,1,7,2,1,2,2,2,2,1
58,29,Travel_Frequently,115,Sales,13,3,Technical Degree,1,1487,1,...,80,0,7,4,1,5,3,0,0,1

In [8]:
le = ModifiedLabelEncoder()
train_data_led = le.fit_transform(train_data)
# train_data_led.head()
recommender = Recommend(train_data_led, 'Attrition')

In [9]:
train_data_led.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [14]:
x = le.transform(result.iloc[33:34])
x

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
33,39,0,592,1,2,3,1,1,1458,1,...,80,0,11,2,4,1,0,0,0,1

In [15]:
recoms = recommender.recommend(x)
recoms

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
416,38,0,1,1490,1,2,2,1,1,556,...,3,80,1,1,3,3,1,0,0,0
215,41,0,2,896,2,6,3,1,1,298,...,3,80,0,16,3,3,1,0,0,0
389,37,0,2,1305,1,10,4,1,1,518,...,4,80,0,18,2,2,1,0,0,1
830,41,0,2,167,1,12,4,1,1,1158,...,1,80,1,6,4,3,1,0,0,0
74,36,0,2,132,1,6,3,1,1,97,...,2,80,0,5,3,3,1,0,0,0

In [16]:
analyzer = Analyze(result.iloc[33:34], train_data.iloc[recoms.index])

In [18]:
an = analyzer.analyze()
an

  BusinessTravel
0  Travel_Rarely

In [23]:
an.iloc[0].to_json()

'{"BusinessTravel":"Travel_Rarely"}'

In [14]:
analyze_on = ['BusinessTravel', 'DailyRate', 'DistanceFromHome',
              'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement',
              'MonthlyIncome', 'MonthlyRate', 'OverTime', 'PercentSalaryHike',
              'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
              'WorkLifeBalance']

In [15]:
result.iloc[13:14]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
13,31,Travel_Frequently,667,Sales,1,4,Life Sciences,1,1427,2,...,80,0,1,3,3,1,0,0,0,1

In [16]:
common_columns = list(set(train_data.columns) & set(result.columns)& set(analyze_on) )
common_columns

['PerformanceRating',
 'MonthlyRate',
 'StockOptionLevel',
 'RelationshipSatisfaction',
 'MonthlyIncome',
 'JobInvolvement',
 'DailyRate',
 'OverTime',
 'BusinessTravel',
 'DistanceFromHome',
 'HourlyRate',
 'WorkLifeBalance',
 'EnvironmentSatisfaction',
 'PercentSalaryHike']

In [17]:
train_data.iloc[recoms.index].select_dtypes('object').mode()

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,No,Travel_Rarely,Sales,Life Sciences,Male,Sales Representative,Single,Y,No