In [1]:
from ml_core import ML_core
from recommend_analyzer import Analyze
from Recommendation import Recommend
from ModifiedLabelEncoder import ModifiedLabelEncoder
import pandas as pd

In [2]:
train_data = pd.read_csv('data/name_attached/train_data_incl_names.csv')
predict_data = pd.read_csv('data/name_attached/prediction_data_incl_names.csv')

In [3]:
none_informative = ['Name', 'Unnamed: 0']

In [4]:
train_data = train_data.drop(none_informative, 1)
predict_data = predict_data.drop(none_informative, 1)
train_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
ml_core = ML_core(train_data, predict_data)
ml_core.train()
result = ml_core.predict()

In [6]:
le = ModifiedLabelEncoder()
train_data_led = le.fit_transform(train_data)
# train_data_led.head()
recommender = Recommend(train_data_led, 'Attrition')

In [7]:
need_recommendation = result[result.Attrition==1]
need_recommendation.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
6,29,Travel_Rarely,332,Human Resources,17,3,Other,1,1419,2,...,80,0,10,3,2,10,9,0,9,1
13,31,Travel_Frequently,667,Sales,1,4,Life Sciences,1,1427,2,...,80,0,1,3,3,1,0,0,0,1
33,39,Non-Travel,592,Research & Development,2,3,Life Sciences,1,1458,1,...,80,0,11,2,4,1,0,0,0,1
37,31,Travel_Frequently,523,Research & Development,2,3,Life Sciences,1,1464,2,...,80,1,7,2,1,2,2,2,2,1
58,29,Travel_Frequently,115,Sales,13,3,Technical Degree,1,1487,1,...,80,0,7,4,1,5,3,0,0,1

In [8]:
recommends_list = []
for person_indx in range(need_recommendation.shape[0]):
    person = le.transform(need_recommendation.iloc[person_indx:person_indx+1])
    recoms = recommender.recommend(person)
    analyzer = Analyze(need_recommendation.iloc[person_indx:person_indx+1], train_data.iloc[recoms.index])
    an = analyzer.analyze()
    recommends_list.append(an)

In [9]:
recommends_list

['{}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Frequently"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No"}',
 '{}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Frequently"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{}',
 '{"OverTime":"No"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No","BusinessTravel":"Non-Travel"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{"OverTime":"No","BusinessTravel":"Travel_Rarely"}',
 '{"OverTime":"No"}',
 '{}',
 '{"OverTime":"No"}',
 '{"OverTime":"No"}',
 '{"BusinessTravel":"Travel_Rarely"}',
 '{}']