In [1]:
from ml_core import ML_core
from recommend_analyzer import Analyze
from Recommendation import Recommend
from ModifiedLabelEncoder import ModifiedLabelEncoder
import pandas as pd

In [2]:
train_data = pd.read_csv('data/name_attached/train_data_incl_names.csv')
predict_data = pd.read_csv('data/name_attached/prediction_data_incl_names.csv')

In [3]:
none_informative = ['Name', 'Unnamed: 0']

In [4]:
train_data = train_data.drop(none_informative, 1)
predict_data = predict_data.drop(none_informative, 1)
train_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
ml_core = ML_core(train_data, predict_data)
ml_core.train()
result = ml_core.predict()

In [6]:

train_data_led = ml_core.label_encoder.transform(train_data)
# train_data_led.head()
recommender = Recommend(train_data_led, 'Attrition')

In [7]:
need_recommendation = result[result.Attrition==1]
need_recommendation.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
6,29,Travel_Rarely,332,Human Resources,17,3,Other,1,1419,2,...,80,0,10,3,2,10,9,0,9,1
13,31,Travel_Frequently,667,Sales,1,4,Life Sciences,1,1427,2,...,80,0,1,3,3,1,0,0,0,1
33,39,Non-Travel,592,Research & Development,2,3,Life Sciences,1,1458,1,...,80,0,11,2,4,1,0,0,0,1
37,31,Travel_Frequently,523,Research & Development,2,3,Life Sciences,1,1464,2,...,80,1,7,2,1,2,2,2,2,1
58,29,Travel_Frequently,115,Sales,13,3,Technical Degree,1,1487,1,...,80,0,7,4,1,5,3,0,0,1

In [8]:
recommends_list = []
for person_indx in range(need_recommendation.shape[0]):
    person = ml_core.label_encoder.transform(need_recommendation.iloc[person_indx:person_indx+1])
    recoms = recommender.recommend(person)
    analyzer = Analyze(need_recommendation.iloc[person_indx:person_indx+1], train_data.iloc[recoms.index])
    an = analyzer.analyze()
    recommends_list.append(an)

In [9]:
recommends_list

['{"HourlyRate":66,"DailyRate":1212,"JobInvolvement":3,"PercentSalaryHike":18,"WorkLifeBalance":3,"MonthlyRate":18805,"RelationshipSatisfaction":2}',
 '{"HourlyRate":84,"DailyRate":1100,"JobInvolvement":3,"PercentSalaryHike":14,"DistanceFromHome":4,"RelationshipSatisfaction":3,"MonthlyIncome":2629,"EnvironmentSatisfaction":3,"BusinessTravel":"Travel_Rarely"}',
 '{"DailyRate":798,"JobInvolvement":3,"DistanceFromHome":7,"MonthlyIncome":5458,"EnvironmentSatisfaction":3,"BusinessTravel":"Travel_Rarely"}',
 '{"DailyRate":853,"PercentSalaryHike":16,"WorkLifeBalance":2,"MonthlyIncome":4358,"EnvironmentSatisfaction":3,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"HourlyRate":77,"DailyRate":582,"PercentSalaryHike":13,"WorkLifeBalance":2,"RelationshipSatisfaction":2,"EnvironmentSatisfaction":3,"BusinessTravel":"Travel_Rarely"}',
 '{"HourlyRate":73,"DailyRate":939,"MonthlyRate":17725,"MonthlyIncome":6640,"EnvironmentSatisfaction":2,"OverTime":"No"}',
 '{"DailyRate":833,"PercentSalaryHike":14,"StockOptionLevel":1,"MonthlyRate":17211,"DistanceFromHome":11,"EnvironmentSatisfaction":3,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"WorkLifeBalance":3,"DistanceFromHome":11,"RelationshipSatisfaction":3,"OverTime":"No"}',
 '{"HourlyRate":51,"DailyRate":865,"PercentSalaryHike":17,"MonthlyRate":12521,"DistanceFromHome":4,"MonthlyIncome":3957,"BusinessTravel":"Travel_Rarely"}',
 '{"DailyRate":710,"StockOptionLevel":1,"RelationshipSatisfaction":2,"OverTime":"No"}',
 '{"DailyRate":992,"JobInvolvement":3,"DistanceFromHome":11,"OverTime":"No"}',
 '{"HourlyRate":68,"MonthlyRate":13339,"DistanceFromHome":10,"MonthlyIncome":6281,"EnvironmentSatisfaction":3,"OverTime":"No"}',
 '{"HourlyRate":56,"DailyRate":971,"MonthlyRate":11996,"MonthlyIncome":3135,"BusinessTravel":"Travel_Frequently","OverTime":"No"}',
 '{"DailyRate":887,"JobInvolvement":3,"PercentSalaryHike":16,"WorkLifeBalance":3,"MonthlyRate":17418,"MonthlyIncome":3256,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"DailyRate":593,"PercentSalaryHike":15,"DistanceFromHome":10,"MonthlyIncome":2126,"EnvironmentSatisfaction":3,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"HourlyRate":78,"JobInvolvement":2,"PercentSalaryHike":16,"EnvironmentSatisfaction":3,"OverTime":"No"}',
 '{"HourlyRate":83,"PercentSalaryHike":17,"StockOptionLevel":1,"WorkLifeBalance":2,"MonthlyRate":12444,"MonthlyIncome":3744,"EnvironmentSatisfaction":2,"OverTime":"No"}',
 '{"MonthlyRate":20129,"MonthlyIncome":7947,"OverTime":"No"}',
 '{"HourlyRate":55,"JobInvolvement":2,"PercentSalaryHike":18,"StockOptionLevel":1,"MonthlyRate":16853,"DistanceFromHome":4,"RelationshipSatisfaction":3,"EnvironmentSatisfaction":3}',
 '{"DailyRate":989,"PercentSalaryHike":16,"StockOptionLevel":1,"DistanceFromHome":4,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"DailyRate":910,"StockOptionLevel":1,"MonthlyRate":17157,"EnvironmentSatisfaction":3,"OverTime":"No"}',
 '{"HourlyRate":66,"MonthlyIncome":10343,"BusinessTravel":"Travel_Rarely"}',
 '{"StockOptionLevel":1,"MonthlyRate":16572,"DistanceFromHome":12,"MonthlyIncome":2422,"OverTime":"No"}',
 '{"PercentSalaryHike":13,"MonthlyRate":13872,"MonthlyIncome":3565,"BusinessTravel":"Travel_Frequently","OverTime":"No"}',
 '{"HourlyRate":69,"WorkLifeBalance":3,"MonthlyRate":14178,"MonthlyIncome":1805,"BusinessTravel":"Travel_Rarely"}',
 '{"DailyRate":607,"StockOptionLevel":1}',
 '{"HourlyRate":58,"DailyRate":630,"PercentSalaryHike":16,"MonthlyRate":15008,"MonthlyIncome":4233,"EnvironmentSatisfaction":2,"OverTime":"No"}',
 '{"PercentSalaryHike":17,"MonthlyIncome":4792,"BusinessTravel":"Travel_Rarely"}',
 '{"DailyRate":759,"PercentSalaryHike":15,"WorkLifeBalance":3,"DistanceFromHome":7,"BusinessTravel":"Non-Travel","OverTime":"No"}',
 '{"HourlyRate":76,"DailyRate":779,"WorkLifeBalance":3,"MonthlyRate":15620,"MonthlyIncome":3300,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"DailyRate":499,"DistanceFromHome":9,"RelationshipSatisfaction":3,"OverTime":"No"}',
 '{"HourlyRate":75,"DailyRate":824,"PercentSalaryHike":18,"StockOptionLevel":1,"MonthlyRate":17072,"MonthlyIncome":2882,"BusinessTravel":"Travel_Rarely"}',
 '{"PercentSalaryHike":15,"StockOptionLevel":1,"OverTime":"No"}',
 '{"HourlyRate":56,"DailyRate":404,"PercentSalaryHike":16,"DistanceFromHome":6,"MonthlyIncome":3909,"EnvironmentSatisfaction":2,"BusinessTravel":"Travel_Rarely","OverTime":"No"}',
 '{"HourlyRate":69,"PercentSalaryHike":15,"WorkLifeBalance":3,"MonthlyRate":14814,"RelationshipSatisfaction":3,"EnvironmentSatisfaction":2,"OverTime":"No"}',
 '{"DailyRate":760,"WorkLifeBalance":3,"MonthlyRate":9942,"DistanceFromHome":6,"MonthlyIncome":8676,"EnvironmentSatisfaction":2}',
 '{"HourlyRate":70,"DailyRate":1312,"PercentSalaryHike":15,"StockOptionLevel":1,"DistanceFromHome":14,"MonthlyIncome":4042,"OverTime":"No"}',
 '{"HourlyRate":71,"DailyRate":947,"PercentSalaryHike":19,"DistanceFromHome":7,"MonthlyIncome":2601,"OverTime":"No"}',
 '{"HourlyRate":53,"WorkLifeBalance":3,"RelationshipSatisfaction":3,"MonthlyIncome":2338,"BusinessTravel":"Travel_Rarely"}',
 '{"DailyRate":899,"PercentSalaryHike":18,"WorkLifeBalance":2,"MonthlyRate":12050}']